/* Homepage navigation */
.homeNav {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 31px;
}

.homeNav .hamburgerMenu {
	position: fixed;
	top: 4%;
	left: 2%;
	z-index: 5000;
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 3px;
	border: 2px solid black;
	padding: 5px;
	width: 27px;
	height: 27px;
}

.homeNav .hamburgerMenu div {
	width: 100%;
	height: 1px;
	background: black;
}

/* Homepage top navigation */
.topNav {
	margin-top: 54px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 71px;
	width: 100%;
	padding-inline: 35px;
	box-shadow: var(--header-box-shadow);
	border-radius: 15px;
	font-size: var(--fs-300);
	font-weight: 600;
	color: #313054;
	background: #f4f5fa;
}

.topNav svg {
	width: 27.5px;
	height: 27.5px;
	border-radius: 5px 0px 0px 0px;
	background: #eeeeee;
	box-shadow: 1px 1px 1px 0px #aeaec026 inset;
}

.topNav .navLeft {
	display: flex;
	gap: 33px;
}

.topNav .navRight {
	display: flex;
	gap: 20px;
	font-size: var(--fs-400);
}

.topNav .logoImg {
	width: 46px;
	height: 46px;
	padding: 10px;
}

.topNav .socials {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 6px;
}

.topNav .active {
	box-shadow: var(--box-shadow);
	background: #f0f0f3;
	padding: 5px 10px;
}

/* Homepage bottom navigation */
.bottomNav {
	display: flex;
	align-items: center;
	justify-content: center;
	width: max-content;
	gap: 39px;
	font-size: var(--fs-300);
	font-weight: 600;
	color: #bbaacc;
	background: #f4f5fa;
	height: 73px;
	padding-inline: 42px;
	border-radius: 42.5px;
	box-shadow: 10px 10px 20px 0px #00000014 inset,
		-10px -10px 20px 0px #ffffff inset;
}

.bottomNav svg {
	width: 24px;
	height: 24px;
	border-radius: 25px;
	box-shadow: var(--box-shadow);
}

.bottomNav .homeButton {
	font-size: var(--fs-400);
	font-weight: 600;
	color: #313054;
	padding: 12px 40px;
	border-radius: 25px;
	background: #f0f0f3;
	box-shadow: var(--box-shadow);
}

.bottomNav .bottomRightContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	width: max-content;
	gap: 50px;
}

.bottomNav .bottomRightNav {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 23px;
}

/* Dashboard page navigation */
.dashboardNav {
	margin-top: 54px;
	display: grid;
	grid-template-columns: 328px auto;
	font-size: var(--fs-300);
	font-weight: 600;
	height: 80px;
	width: 100%;
	padding-inline: 13px;
	border-radius: 20px;
	background: #f5f5fa;
	box-shadow: 10px 10px 30px 0px #aeaec066, -10px -10px 30px 0px #ffffff;
}

.dashboardNav svg {
	width: 24px;
	height: 24px;
}

.dashboardNav .logo {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 10px;
}

.dashboardNav .logo span {
	font-size: var(--fs-300);
	font-weight: 700;
	color: #24242c;
}

.dashboardNav .logoImg {
	width: 46px;
	height: 46px;
	padding: 10px;
}

.dashboardNav .dashboardRightNav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.dashboardNav .dashboardUser {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

.dashboardNav .userImg {
	width: 50px;
	height: 50px;
	overflow: hidden;
	border-radius: 50%;
}

.dashboardNav .userImg img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	scale: 3;
}

.dashboardNav .dashboardUserInfo {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 15px;
}

.dashboardNav .dashboardUserDetails {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

.dashboardNav .dashboardUserDetails .dashboardUserID {
	font-size: var(--fs-300);
}

.dashboardNav .dashboardUserDetails .dashboardUserID span {
	color: #bbaacc;
}

@media (max-width: 950px) {
	.homeNav {
		background: #f4f5fa;
		gap: 20px;
	}

	.homeNav .hamburgerMenu {
		display: flex;
	}

	.homeNav .navLeft {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 7px;
	}

	.topNav {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: space-between;
		height: max-content;
		padding-inline: 35px;
		box-shadow: none;
		border-radius: 15px;
		margin-top: 14px;
		gap: 15px;
	}

	.bottomNav {
		display: flex;
		flex-direction: column;
		height: max-content;
		width: 100%;
		box-shadow: none;
		position: fixed;
		justify-content: flex-start;
		top: 0;
		left: 0;
		width: 100%;
		height: 100dvh;
		padding-top: 10px;
	}

	.bottomNav.showMenu {
		display: none;
	}

	.bottomNav .bottomRightContainer {
		flex-wrap: wrap;
		flex-direction: column;
		width: 100%;
	}

	.bottomNav .bottomRightNav {
		width: 100%;
		justify-content: space-between;
	}

	/* Dashboard page navigation */
	.dashboardNav {
		margin-top: 14px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: max-content;
		border-radius: 20px;
		box-shadow: 10px 10px 30px 0px #aeaec066, -10px -10px 30px 0px #ffffff;
		gap: 20px;
	}

	.dashboardNav .dashboardRightNav {
		width: 100%;
		gap: 15px;
		flex-wrap: wrap;
		margin-bottom: 10px;
	}

	.dashboardNav .dashboardUserInfo {
		gap: 20px;
		margin-bottom: 10px;
	}
}
